# User-specific files
*.suo
*.user
*.sln.docstates

[Bb]in/
[Oo]bj/


# Roslyn cache directories
*.ide/
.vs/


# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# If using the old MSBuild-Integrated Package Restore, uncomment this:
!**/packages/repositories.config
Packages.dgml
